img{
	position:absolute;
	left:0px;
	top:0px;
}

titre{
	position:absolute;
	left:570px;
	top:70px;
	text-align: center;
}

titre{
	position:absolute;
	left:570px;
	top:370px;
	text-align: center;
}

menu{

}

timer{

}
