img{
	position:absolute;
	left:0px;
	top:0px;
}

titre{
	position:absolute;
	left:610px;
	top:48px;
	text-align: center;
	color:black;
	font-family:arial, sans-serif;
	font-size:350%;
	font-style: italic;
}

titre2{
	position:absolute;
	left:700px;
	top:170px;
	text-align: center;
	color:white;
	font-family:arial, sans-serif;
	font-size:250%;
	font-style: italic;
}

menu{
	position:absolute;
	left:58px;
	top:130px;
	text-align: center;
	color:black;
	font-family:arial, sans-serif;
	font-size:110%;
	font-style: italic;
}

timer{

}

bouton1{
	position:absolute;
	left:130px;
	top:120px;
	text-align: left;
	color:black;
	font-family:arial, sans-serif;
	font-size:70%;
	font-style: italic;
}

bouton2{
	position:absolute;
	left:700px;
	top:350px;
	text-align: center;
	color:black;
	font-family:arial, sans-serif;
	font-size:70%;
	font-style: italic;
}
























