body {
	background-image:url(fond.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 100% 100%;
	
	
}

h1{
	position:absolute;
	left:45%;
	top:3%;
	text-align: center;
	color:black;
	font-family:arial, sans-serif;
	font-size:250%;
	font-style: italic;
}

h2{
	text-align: center;
	color:white;
	font-family:arial, sans-serif;
	font-size:250%;
	font-style: italic;
}

#auteur{
	position:absolute;
	left:7%;
	top:14%;
	text-align: center;
	color:black;
	font-family:arial, sans-serif;
	font-size:110%;
	font-style: italic;
}

nav{
	position:absolute;
	left:7.5%;
	top: 15%;
	text-align: center;
	color:black;
	font-family:arial, sans-serif;
	font-size:110%;
	font-style: italic;
}

timer{

}

#b1{
	position:absolute;
	left:130px;
	top:120px;
	text-align: left;
	color:black;
	font-family:arial, sans-serif;
	font-size:70%;
	font-style: italic;
}

#b2{
	position:absolute;
	left:700px;
	top:350px;
	text-align: center;
	color:black;
	font-family:arial, sans-serif;
	font-size:70%;
	font-style: italic;
}

section {
	position:absolute;
	left: 24%;
	top: 17%;
	height:40%;
	width : 58%;
	text-align: center;
	color:black;
	font-family:arial, sans-serif;
	font-size:110%;
	font-style: italic;
	visibility : hidden;
	style="border-width:5px; 
	border-style:dotted; 
	border-color:black;"
}


nav {
	visibility : hidden;
}
























